#shapka{
    background-color: black;
    width:100.9%;
    height:160px;
    margin-left: -8px;
    margin-top: -10px;
}

#log_name{
    color: white;
    font-size: 70px;
    word-spacing: 5rem;
    text-align: -webkit-center;
    padding-top:40px;
    font-weight: bolder;
}

.button_home{
    color: white;
    font-size: 30px;
    word-spacing: 5rem;
    padding-left: 30px;
    margin-top: -80px;
    font-weight: bolder;
}

.button_login{
    color: white;
    font-size: 30px;
    word-spacing: 5rem;
    margin-left: 94%;
    margin-top: -10px;
    font-weight: bolder;
    text-decoration: none;
}

.button_login:hover{
    color: #f66d52;
    text-decoration: underline;
}


.first_content{
    margin-top: 100px;
}

.fisrt_content_table{
    margin-top: 50px;
}

.text_first_table1{
    font-size: 50px;
}

.text_first_table2{
    font-size: 50px;
}
.table_granic{
    margin-top: 150px;
    font-size: 40px;
    color:grey;
}
#images_phon_main{

}

.FormLoginMainPage{
    width: 500px;
    height: 500px;

}
.loginn_form_back{
    position: absolute;
    margin-top: -200px;
    margin-left: 650px;
    width: 400px;
    height: 250px;
    background: wheat;
}

.Auten_name_form{
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    margin-left: 100px;
}

.sign_in_login_form{
    margin-left: 170px;
}

.restration_mame_a{
    position: relative;
    margin-left: 300px;
    margin-top: 10px;
    height: 20px;
    width: 50px;
}

.forget_password{
    position: relative;
    margin-top: -17px;
    height: 20px;
    width: 170px;
}

.name_field_login_form{
    text-decoration: none;
    color: black;
}
.name_field_login_form:hover{
    color: #f66d52;
    text-decoration: underline;
}

.Registration_form_back{
    position: absolute;
    margin-top: -200px;
    margin-left: 650px;
    width: 400px;
    height: 300px;
    background: wheat;
}

#form_premer{
    width: 500px;
    height: 600px;
}

.FormLoginMainPage2{
    width: 500px;
    height: 300px;
}

.loginn_form_back2{
    position: absolute;
    margin-top: -200px;
    margin-left: 650px;
    width: 400px;
    height: 150px;
    background: wheat;
}

.container-fluid{
    position: absolute;

 }

.shapka_for_chat{
    position: absolute;
    margin-left: -3%;
    margin-top: -2%;
    width: 102.6%;
    height: 12%;
    background: black;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.photo_user_messendgere_reference:hover{
    opacity: 0.35;/* прозрачность для других браузеров */


}

.photo_user_messendgere{
    position: absolute;
    margin-top: 2.5%;
    margin-left:3%;
    height: 60px;
    width: 60px;
}

.photo_push_user_messendgere{
    position: absolute;
    margin-top: -0.5%;
    margin-left: 5%;
    height: 60px;
    width: 60px;
}

.Feedback_main_page{
    position: absolute;
    margin-top: -0.7%;
    margin-left: 85%;
}

.text_menu_vverx_tt{
    font-size: 26px;
    text-decoration: None;
    color: white;
}

.text_menu_vverx_tt:hover{
    text-decoration: underline;
}

.Logout_User_System{
    position: absolute;
    margin-left: 93%;
    margin-top: -0.7%;
}

.Reference_General_chat{
    position: absolute;
    margin-left: 46%;
    margin-top: -0.7%;
}

.left-menu_for_chat{
    position: absolute;
    margin-top: 2.53%;
    margin-left: -0.4%;
    background-color: black;
    width: 9%;
    height: 90.9%;
}

.point_for_left_menu{
    position: relative;
    padding-top: 3px;
    top: 5px;
    left: 15px;
    margin-right: auto;
    width: 30px;
    height: 40px;
}

.reference_point_for_left_menu{
    color: white;
    font-size: 24px;
    text-decoration: None;
}

.reference_point_for_left_menu:hover{
    color: grey;
    font-size: 24px;
}

#MainContentGeneralChat{
    position: absolute;
    margin-top: 6%;
    margin-left: 30%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 12px;
    width: 35%;
    height: 73%;
}

.EnterMessageGeneralChat{
    position: absolute;
    top: 90%;
    left: 2%;

}

.pole_input_message{
    width: 300px;
}

.submit_input_message{
    position: absolute;
    top: 1%;
    left: 184%;

}

#id_enter_chat{
    width: 180%;
    height: 40px;
    overflow-x: hidden;
}

#view_message_in_chat {
    position: absolute;
    width: 100%;
    height: 89.9%;
    overflow-x: hidden;
}

#chat-log{
    position: absolute;
    top: 50%;
    left: 70%;
    width: 50px;
    height: 50px;
}


.view_message_in_block{

}

#chat-message-input{
    width: 270%;
    height: 40px;

}

#chat-message-submit{
    position: relative;
    left: 290%;
    top: -45px;
    height: 55px;
}

.photo_user_message{
    position: relative;
    left: 25px;
    width: 45px;
    height: 45px;
}

.name_and_time_in_message{
    position: relative;
    left: 100px;
    top: -53px;
    display: flex;
    flex-direction: row;
}

.view_users_in_message{

    font-size: 20px;
}

.view_time_in_message{

    font-size: 12px;
    color: grey;
    margin-top: 6px;
    margin-left: 12px;
    display: inline;
}

.view_mess_in_block{
    block:display;
    position:relative;
    margin-top:-63px;
    margin-left: 99px;
    margin-right: 30px;
    text-overflow: ellipsis;
    word-wrap: break-word;

}

#name_page_my_chat__{
    position: absolute;
    margin-top: 4%;
    margin-left: 42%;
    font-size: 30px;
}

#menu_chat_user {
    position: absolute;
    margin-top: 6%;
    margin-left: 30%;
    width: 30%;
    height: 80%;
    border: 1px solid black;
    border-radius: 12px;
}

.place_for_chat_general_chat{
    position: relative;

}

#views_chats_with_last_message{
    position: relative;
    color: whitesmoke;
    width: 100%;
    height: 8%;
    margin-top: 0.1%;
}

#views_chats_with_last_message_reference{
    text-decoration: none;
}

#views_chats_with_last_message_reference:hover{
    background-color: grey;
    color: grey;
}

#avatarka_chats_view{
    position: relative;
    top: 6%;
    left: 1%;
}

#avatarka_view_chat{
    width: 45px;
    height: 45px;
}

#name_chats_view{
    position: relative;
    left: 12%;
    top: -77%;
    color: #1b1b1b;
    text-decoration: none;
}

#message_chats_view{
    position: relative;
    left: 17%;
    top: -60%;
    color: #1b1b1b;
}

#avatarka_user_last_message{
    position: relative;
    top: -90%;
    left: 12%;
}

#avatarka_user_view_chat{
    width: 20px;
    height: 20px;
}

#last_message_in_current_chat{
    color: #1b1b1b;
}

.time_messageA_last_in_chat{
    position: relative;
    margin-top: -80px;
    left: 75%;
}