{% extends 'chat/MainPageNoAuurization.html' %}

{% block form_login %}
    {% include 'chat/includes/message_not_found_email.html' %}

<div class="loginn_form_back2">
        <form method="post" id="FormLoginMainPage2" >
    {% csrf_token %}

<div>{{ form.non_field_errors }}</div>
        <div class="Auten_name_form"> password recovery </div>
            {% for f in form %}
            <p class="form_view"><label >{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
    <button type="submit" class="sign_in_login_form" >recovery</button>

           <div class="restration_mame_a"> <a href="{% url 'registration' %}" class="name_field_login_form">  Registration </a> </div>
           <div class="forget_password"> <a href="{% url 'login' %}" class="name_field_login_form"> Login </a> </div>
</form>

</div>


{% endblock form_login %}

