{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html>
<head>
    <title>General Chat</title>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'chat/css/MainPageNoAuurization.css' %}" rel="stylesheet">
     <link rel="shortcut icon" href="{% static 'chat/images/phon_mainpage.png' %}" type="image/x-icon"/>

</head>
    <body>
        {% block shapka %}

        <div class="shapka_for_chat">
            <a href="{% url 'profile_users' %}" class="photo_user_messendgere_reference"> <img src="{{user.profile_picture.url}}" class="photo_user_messendgere"></div>  </a>



         {% for e in logo%}
               {% if e.title == "push" %}
                    <div> <a href="{% url 'push_users' %}" class="photo_user_messendgere_reference"> <img src="/media/push_notif.png" class="photo_push_user_messendgere"> </a></div>

                {% elif e.title == "Feedback" %}
                    <div class="Feedback_main_page">  <a href="{% url 'feedback' %}" class="text_menu_vverx_tt"> {{e.title}} </a>  </div>

                {% elif e.title == "Logout" %}
                <div class="Logout_User_System">  <a href="{% url 'logout' %}" class="text_menu_vverx_tt"> {{e.title}} </a>  </div>

                {% elif e.title == "name_company" %}
                <div class="Reference_General_chat">  <a href="{% url 'general_chat' room_name='general_chat' %}" class="text_menu_vverx_tt"> {{e.url_name}} </a>  </div>

              {% endif %}}
            {% endfor %}}

        </div>

        {% endblock shapka %}


        {% block left-menu %}

        <div class="left-menu_for_chat">
            {% for e in menu%}
                <a href="{% url e.url_name %}" class="reference_point_for_left_menu">
                    <div  class="point_for_left_menu"> {{e.title}}
                    </div>
                </a>
                <hr>
            {% endfor %}
        </div>

        {% endblock left-menu %}

        {% block content%}
            <div style="position: absolute;margin-top: 4%; margin-left: 43%;font-size: 30px;"> General Chat</div>
        <div id="MainContentGeneralChat">

        <div id="view_message_in_chat">


            {% for message in messages %}

                <div class="view_message_in_block">
            <div > <img src="{{message.users_send.profile_picture.url}}" class="photo_user_message"></div>

            <div class="name_and_time_in_message">
                    <div class="view_users_in_message"> {{message.users_send.username}} </div>
                    <div class="view_time_in_message"> {{message.data_create| escape}} </div>
                </div>

            <div class="view_mess_in_block"> {{message.text|linebreaks}}   </div>

                    <div style="margin-top: 5%;"></div>

        </div>

            {% endfor %}

            <div id="wrapper_Scrollbottom"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

          <script>
            $('div.view_message_in_chat').animate({
                   scrollTop: parseInt($('#wrapper_Scrollbottom').offset().top)
                 }, 0.1);
          </script>
        </div>






            <div class="EnterMessageGeneralChat" >

                    <input id="chat-message-input" type="text" placeholder="Enter message"><br>
                    <input id="chat-message-submit" type="button" value="Send">
</div>


        </div>

        {% endblock content%}


        <textarea id="chat-log" disabled="yes"></textarea><br>

         {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chats/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            //console.log(data.message)
            // $("#MainContentGeneralChat").load(" #MainContentGeneralChat > *");

            document.querySelector('#chat-log').value += (data.message + '\n');
            document.querySelector('#chat-log').value += (data.cur_user + '\n');

            var element = document.createElement("div");
            element.id = 'message_wb' + String(data.message)
            console.log(element.id)
            document.getElementById('view_message_in_chat').appendChild(element);

            var name_user = document.createElement("div");
            name_user.appendChild(document.createTextNode(data.cur_user));
            document.getElementById(element.id).appendChild(name_user);

            var message_now = document.createElement("div");
            message_now.appendChild(document.createTextNode(data.message));
            document.getElementById(element.id).appendChild(message_now);

            var time_message_now = document.createElement("div");
            time_message_now.appendChild(document.createTextNode(data.now_time));
            document.getElementById(element.id).appendChild(time_message_now);

            var img = document.createElement("img");

            img.src = data.photo
            document.getElementById(element.id).appendChild(img);





        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>



</body>
</html>