{% extends 'chat/MainPageNoAuurization.html' %}

{% block form_login %}

<div class="loginn_form_back">
        <form method="post" id="FormLoginMainPage" >
    {% csrf_token %}

<div>{{ form.non_field_errors }}</div>
        <div class="Auten_name_form"> Reset password </div>
            {% for f in form %}
            <p class="form_view"><label >{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
    <button type="submit" class="sign_in_login_form" >Войти</button>

</form>

</div>


{% endblock form_login %}